# OS junk files
[Tt]humbs.db
*.DS_Store

TAGS

# Visual Studio files
*.o
*.[Oo]bj
*.user
*.aps
*.pch
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.[Cc]ache
*.ilk
*.log
*.sbr
*.sdf
*.opensdf
*.unsuccessfulbuild
ipch/
obj/
[Bb]in
[Dd]ebug*/
[Rr]elease*/

# Mac
/npapi/mruby_npapi_mac/npjsmrby
/npapi/mruby_npapi_mac/npjsmrby.i386
/npapi/mruby_npapi_mac/npjsmrby.x64

