<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>en-US</string>
    <key>CFBundleExecutable</key>
    <string>npjsmrby</string>
    <key>CFBundleIdentifier</key>
    <string>masamitsu.murase.npjsmrby</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>npjsmrby</string>
    <key>CFBundlePackageType</key>
    <string>BRPL</string>
    <key>CFBundleVersion</key>
    <string>1.0</string>
    <key>WebPluginDescription</key>
    <string>This is a npapi plugin to run mruby script.</string>
    <key>WebPluginMIMETypes</key>
    <dict>
      <key>application/x-jsmruby-plugin</key>
      <dict>
        <key>WebPluginTypeDescription</key>
        <string>mruby plugin</string>
      </dict>
    </dict>
    <key>WebPluginName</key>
    <string>JsMruby</string>
  </dict>
</plist>
